.DS_Store

# Install.
.install/cache
/bootstrap.nix
/bootstrap.json
/config.nix
/config.profile

# IDE
.vscode
.idea
*.iml

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
